html, body {
  font-family: Courier;
  background-color: #77b2c9;
}

/* to do list */

div.container {
  height: 800px;
  width: 800px;
  margin: 0 auto;
  margin-top: 150px;
  margin-bottom: 150px;
  padding: 10px;
  background-image: url("images/pusheen-background.jpg");
  border-radius: 50px 0 0 50px;
  border: white solid 10px;
  box-shadow: 4px 3px 7px 2px #00000040;
  text-align: center;
}



/* class to add to cross out task before deleting it */

.cross-out-text {
  text-decoration: line-through;
}

/* to get rid of bullets un unordered list  */

li {
  list-style: none;
}

/* For floating img*/

.image {
  width: 200px;
  display: block;
  float: left;
  margin-left: 100px;
  margin-top: 30px;
}


/* Align task input with pusheen  */

.input-task {
  margin-top: 80px;
  margin-right: 80px;
}

/* Added tasks list styles */

.task-list {
  text-align: left;
  margin-top: 120px;
  margin-left: 100px;
}

/* For Placeholder Fade */

[placeholder]:focus::-webkit-input-placeholder {
  transition: text-indent 0.5s 0.s ease;
  text-indent: -100%;
  opacity: 1;
}

/* styling input field */

#input {
  background-color: transparent;
  border: none;
  border-bottom: solid yellow;
}

/* align icons with text */

.icon {
  position: relative;
  top: 10px;
  left: 5px;
}
